---
import Layout from "../layouts/Layout.astro"
---

<Layout>
    <section class="mt-24 md:mt-36 text-center">
        <h1 class="h1 text-center pt-16">404</h1>
        <h2 class="h2 text-3xl text-center p-0">Oops! It seems the page you're looking for doesn't exist.</h2>
        <p class="my-8">Click the button below to navigate back to our homepage.</p>
        <a href="/" class="button-md mb-8">Take Me To The Home Page</a>
    </section>
</Layout>