---
import Layout from "../layouts/Layout.astro";
import Contact from "../components/Contact.astro";
import { Image } from "@astrojs/image/components";
import contactImg from "../images/queer-author-publication.jpg";

const title="Contact Phoenix of Alexandria"
const description="From publishing, to editing, to registration, and other inquieries, we want to hear from you!"
---

<Layout {title} {description}>
    <section
        class="pt-24 md:pt-36"
    >
    <Contact isPage="true" />
        
    </section>
</Layout>
<style>
    input,
    textarea {
        @apply rounded-md py-2 px-4 mb-5 text-black border border-neutral-500 !important;
    }
    label {
        @apply mb-1;
    }
</style>
