---
import Layout from "../layouts/Layout.astro";
import { Image } from "@astrojs/image/components";
import publishingImg from "../images/queer-publishing.jpg";
import editingImg from "../images/queer-writing-editors.jpg";
import collectionImg from "../images/queer-author-collections.jpg";
const services = [{ name: "Publishing", text: "", img: publishingImg },{ name: "Editing", text: "", img: editingImg  },{ name: "Collection", text: "", img: collectionImg  },];
---

<Layout>
    <section class="mt-24 md:mt-36">
        <h1 class="h1">Services</h1>
        <div class="wrapper my-12">
        {
            services.map((service) => (
                <article class="max-w-7xl mx-auto flex flex-col sm:flex-row sm:even:flex-row-reverse mt-24 first:mt-0 justify-around ">
                    
                    
                        <Image class="w-full sm:w-auto object-cover"
                            src={service.img}
                            aspectRatio={"4:3"}
                            width={400}
                        />
                        <div>
                        <h2 class="h2 mt-0 pb-4 sm:pt-0 md:pb-8 text-left md:text-center">{service.name}</h2>
                        <p class="sm:max-w-sm ">
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Repellat earum consectetur officia optio harum
                            iste repellendus nesciunt aliquid, non odio
                            assumenda, magnam quae veniam? Molestias voluptates
                            ullam provident quasi architecto aliquid eos quidem
                            quam cumque minima mollitia ipsa, ad voluptas
                            obcaecati unde autem itaque officia adipisci
                            consequatur quis. Temporibus, quaerat?
                        </p></div>
                    
                </article>
            ))
        }
    </div></section>
</Layout>
