---
import Layout from "../layouts/Layout.astro";
const title="We got your message!"
---

<Layout {title}>
    <section class="my-16 mt-24 md:mt-36">
        <div class="py-24">
        <h1 class="h1 text-center">Thank you!</h1>
        <h2 class="text-2xl text-center">Your form has been submitted. We'll get back to you as soon as possible!</h2></div>
    </section>
</Layout>