---
import { Picture } from "@astrojs/image/components";
import rivetsImg from "../images/person-holding-rivets.jpg";
---

<section class="">
    <h2 class="h2">Creating Change Through Storytelling</h2>

    <div class="flex flex-col md:flex-row-reverse gap-8">
        <Picture class="w-96" src={rivetsImg} widths={[300, 600]} />
        <p class="">
            At Phoenix of Alexandria, we believe in the power of storytelling to
            inspire change and boost underrepresented voices. We are a queer
            owned, queer ocused company that showcases the best in written and
            visual art produced by queer authors and artists in the Pittsburgh
            area and beyond. From literary collectives to collaborative
            projects, we are committed to creating quality products that readers
            will love. Whether you're an author or artist looking to get your
            work published or a reader searching for diverse, inclusive stories,
            we're committed to helping you amplify and empower your voice.
        </p>
    </div>
</section>
