---
import { Picture } from "@astrojs/image/components";
import rivetsImg from "../images/person-holding-rivets.jpg";
---

<section class="">
    <h2 class="h2">Creating Change Through Storytelling</h2>

    <div class="flex flex-col md:flex-row-reverse gap-8 mx-auto max-w-5xl">
        <div class="mx-auto md:w-1/2">
            <Picture class="" alt="Person holding up Rivets" src={rivetsImg} widths={[300, 800]} width={600} format="avif" aspectRatio={"3:2"} />
        </div>
        <div class="md:w-1/2">
            <p class="">
                At Phoenix of Alexandria, we believe in the power of
                storytelling to inspire change and boost underrepresented
                voices. We are a queer owned, queer ocused company that
                showcases the best in written and visual art produced by queer
                authors and artists in the Pittsburgh area and beyond. From
                literary collectives to collaborative projects, we are committed
                to creating quality products that readers will love. Whether
                you're an author or artist looking to get your work published or
                a reader searching for diverse, inclusive stories, we're
                committed to helping you amplify and empower your voice.
            </p>
            <div class="px-3">
                <a href="/store" class="button mt-5">View Our Collections</a>
            </div>
        </div>
    </div>
    
</section>
